EMAIL_HOST=mail.host.com
EMAIL_PORT=587
EMAIL_USERNAME=hello@mail.com
EMAIL_FROM=hello@mail.com
EMAIL_PASSWORD=your-password
ADMIN_EMAIL=admin@mail.com

SITE_URL=https://mydomain.ch

INFOMANIAK_TOKEN=your-infomaniak-token
INFOMANIAK_PRODUCT_ID=your-infomaniak-product-id

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=root
DATABASE_NAME=stokhastik
DATABASE_PORT=3306
DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"
DATABASE_CONNECTION_LIMIT=10

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret