HOST=mail.host.com
USERNAME=hello@mail.com
EMAIL=hello@mail.com
PASSWORD=your-password
SITE_URL=https://parcourspan.ch
INFOMANIAK_TOKEN=your-infomaniak-token
INFOMANIAK_PRODUCT_ID=your-infomaniak-product-id